#container-header {
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

#subcontainer-header {
    display: block;
    width: 60vw;
    top: 50vh;
    position: absolute;
    left: 50vw;
    transform: translate(-50%,-50%);
    height: 30vh;
    color: white;
}

#header-logo {
    height: 30vh;
    border-right: 1px white solid;
    width: 23vw;
    text-align: right;
    position: absolute;
    padding-right: 2vw;
    margin-right: 2vw;
}

#header-logo h1, #logo-white {
    position: relative;
    float: right;
    top: 50%;
    transform: translateY(-50%);
}

.story-header {
    width: 35vw;
    position: absolute;
    left: 25vw;
}

.story-content h1 {
    font-size: 2rem;
}

.story-content h2 {
    font-size: 1.75rem;
}

.story-content p {
    font-size: 1.35rem;
    line-height: 1em;
}