body, html {
	font-size: 100%;
	font-family: "minion-pro-display", georgia, serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'canada-type-gibson', -apple-system, BlinkMacSystemFont, helvetica, arial, sans-serif;
	font-weight: 300;
}

svg#logo-white {
	width: 3.5rem;
}


#header-logo h1 {
	font-family: 'din-2014', -apple-system, BlinkMacSystemFont, helvetica, arial, sans-serif;
	font-weight: 600;
	float: left;
}